:root{
  --black-light-brightness: rgba(0, 0, 0, 0.1);
  --animation-timing-func-val: cubic-bezier(0.760, 0.110, 1.000, 0.970);
  --bounce-time: 1.5s;
}
body {
    display: flex;
    justify-content: center;
  }
  
#ball {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--black-light-brightness);
    background-image: url("ball.png");
    background-size: 150px;
    background-position-y: 132.5px;
    background-position-x: center;
  
    animation: bounce var(--bounce-time);
    animation-direction: alternate;
    animation-timing-function: var(--animation-timing-func-val);
    animation-iteration-count: 2;
  }
  
  @keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 500px, 0); }
  }
  
  /* Prefix Support */
  /* ball {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: var(--bounce-time);
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: var(--animation-timing-func-val);
    -webkit-animation-iteration-count: 2;
  }
  @-webkit-keyframes bounce {
    from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    to   { -webkit-transform: translate3d(0, 200px, 0); transform: translate3d(0, 200px, 0); }
  } */